@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal; }
    
body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7); }

.navbar {
    background-color: #b4b5f8;
    transition: background-color 0.3s ease-in-out;
    position: sticky;
    top: 0;
    z-index: 100; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0; }
    .navbar.scrolled {
        background-color: #ebf2ea;
        color: #0abda0;
    }    
    .logo {
        color: #bf9d7a;
        font-weight: bold;
        font-size: 28px; 
        margin-right: 80px;
        margin-left: 10px; }
    .nav-menu {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0; }
        .nav-menu li {
          margin: 0 15px; }
            .nav-menu li a {
                text-decoration: none;
                position: relative;
                font-size: 14px;
                color: #f0f0f0;
                -webkit-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s; }
                .nav-menu li a:after { 
                    content: "";
                    position: absolute;
                    height: 1.5px;
                    bottom: 0.001px;
                    left: 0;
                    right: 0;
                    background-color: #2596be;
                    visibility: hidden;
                    -webkit-transform: scaleX(0);
                    -moz-transform: scaleX(0);
                    -ms-transform: scaleX(0);
                    -o-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
                .nav-menu li a:hover { 
                    text-decoration: none;
                    color: #fff; }
                    .nav-menu li a:hover:after {
                        visibility: visible;
                        -webkit-transform: scaleX(1);
                        -moz-transform: scaleX(1);
                        -ms-transform: scaleX(1);
                        -o-transform: scaleX(1);
                        transform: scaleX(1); }
    .navlinks {
        display: flex;
        justify-content: space-around; }
    .nav-link {
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 4px;
        margin-right: 16px; }  
        #partner-link {
            color: #ebf2ea;
            background-color: #b4b5f8;
            border: 2px solid #ebf2ea;
            border-radius: 5px; }
            #partner-link:hover { 
                background-color: #829EC5;
                border: 2px solid #829EC5; } 
         #get-started-link {
            background-color: #ebf2ea;
            color: #b4b5f8;
            border: 2px solid #ebf2ea;
            border-radius: 5px; } 
            #get-started-link:hover { 
                background-color: #fff;
                border: 2px solid #fff; }  
    .nav-menu-icon {
            display: none;
            cursor: pointer; }
    .nav-menu.active {
            display: block;
}
   
.hero {
    background-image: url('../images/Hero-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #b4b5f8;
    height: 100svh;
    padding: 50px 20px;
    margin-bottom: 0; }
    .hero-content {
        display: flex;
        flex-direction: row; 
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px; }
        .hero-text {
            flex: 1;
            margin-right: 120px;
            max-width: 50%; }
            .hero-text h3 {
                font-size: 35px;
                color: #444;
                margin-bottom: 10px; }
            .hero-text p {
                font-size: 18px;
                color: #444;
                margin-bottom: 50px; }
                .hero-text p span { 
                    font-weight: bold; }
            .hero-text a {
                background-color: #26598f;
                color: #f0f0f0;
                text-decoration: none;
                font-weight: bold;
                width: fit-content;
                height: 200px;
                padding: 10px 10px;
                border: 2px solid #26598f;
                border-radius: 5px; }  
                .hero-text a:hover {
                    background-color: #486e97;
                    border: 2px solid #486e97;
                }

.appointments {
    background-color: #e2e3e4;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .appointments-content { 
        padding-top: 20px;
        padding-bottom: 20px; }
        .appointments-content img {
            position: absolute;
            top: 200px;
            left: 12%;
            width: 420px;
            height: 420px;
            border-radius: 5px;
            z-index: 2; }
        .appointments-content .appointments-text {
            position: relative;
            max-width: 900px;
            height: 700px;
            border-radius: 2px;
            padding: 100px 200px 0 150px;
            margin-left: 500px;
            background-color: rgb(25, 169, 178, 0.5); }
            .appointments-content .appointments-text h5 {
                font-weight: bolder;
                font-size: 22px; }
            .appointments-content .appointments-text p {
                font-weight: bold;
                font-size: 16px;}
            .appointments-content .appointments-text ul li {
                font-weight: bold;
                font-size: 18px; }
            .appointments-content .appointments-text a {
                background-color: #235D9C;
                color: #f0f0f0;
                height: 300px;
                font-weight: bold;
                padding: 10px;
                border: 2px solid #235D9C;
                border-radius: 5px;
                text-decoration: none; }
                .appointments-content .appointments-text a:hover { 
                    background-color: #4572a2;
                    border: 2px solid #4572a2;
}

.services {
    background: linear-gradient(to bottom, #e2e3e4 2%, #D8DADC 10%, #CBD3D7 16%, #C2CCD4 20%, #C9CED1 100%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .services h3 {
        font-size: 50px; }
    .services .services-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 80%; }
        .services .services-content img {
            margin-right: 50px;
            width: 300px; } 
        .services .services-content .services-text {
            margin-left: 10px; }
            .services .services-content .services-text h4 { 
                font-size: 30px; }
            .services .services-content .services-text p {
                max-width: 80%;
                font-size: 20px; }

.footer {
    display: none;
}