@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300&display=swap');


@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal; }
    
body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7); 
}

.navbar {
    background-color: #b4b5f8;
    transition: background-color 0.2s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0; }
    .navbar.sticky { 
        background-color: #f0f0f0;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05) }
    .navbar.sticky .nav-menu li a { color: #235D9C; }
    .navbar.sticky .navlinks #partner-link {
        color: #59799c;
        background-color: transparent;
        border-color: #59799c;}
        .navbar.sticky .navlinks #partner-link:hover { background-color: #f6f6ff; }
    .navbar.sticky .navlinks #get-started-link { 
        color: #123152;
        background-color: #59799c;
        border-color: #59799c; }
        .navbar.sticky .navlinks #get-started-link:hover{
            background-color: #7a8896;
            color: #123152;
            border-color:#7a8896; }
    .logo {
        color: #502a07;
        font-weight: bold;
        font-size: 20px; 
        margin-right: 70px;
        margin-left: 30px; }
    .nav-menu {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0; }
        .nav-menu li {
          margin: 0 15px;
          position: relative; }
            .nav-menu li a {
                text-decoration: none;
                font-size: 14px;
                color: #f0f0f0;
                -webkit-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s; }
                .nav-menu li a:after { 
                    content: "";
                    position: absolute;
                    height: 1.5px;
                    bottom: 0.1px;
                    left: 0;
                    right: 0;
                    background-color: #2596be;
                    visibility: hidden;
                    -webkit-transform: scaleX(0);
                    -moz-transform: scaleX(0);
                    -ms-transform: scaleX(0);
                    -o-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
                .nav-menu li a:hover { 
                    text-decoration: none;
                    color: #fff; }
                    .nav-menu li a:hover:after {
                        visibility: visible;
                        -webkit-transform: scaleX(1);
                        -moz-transform: scaleX(1);
                        -ms-transform: scaleX(1);
                        -o-transform: scaleX(1);
                        transform: scaleX(1); }
    .navlinks {
        display: flex;
        justify-content: space-around; }
    .nav-link {
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 4px;
        margin-right: 16px; }  
        #partner-link {
            color: #ebf2ea;
            background-color: #b4b5f8;
            border: 2px solid #ebf2ea;
            border-radius: 5px; }
            #partner-link:hover { 
                background-color: #829EC5;
                border: 2px solid #829EC5; } 
         #get-started-link {
            background-color: #ebf2ea;
            color: #b4b5f8;
            border: 2px solid #ebf2ea;
            border-radius: 5px; } 
            #get-started-link:hover { 
                background-color: #fff;
                border: 2px solid #fff; }  
    .nav-icon {
            display: none; }

@media screen and (max-width: 768px) {
    .navbar {
        position: fixed;
        height: 40px;
        display: flex;
        flex-direction: row;
        padding: 18px 10px; }
        .navbar.sticky .nav-icon { color: #b4b5f8; }
        .logo { font-size: 26px; }
        .nav-icon {
            display: block;
            color: #f0f0f0;
            margin-right: 20px;
            font-size: 24px;
            cursor: pointer; }
            .nav-icon.cancel {
                display: block;
                color: #f0f0f0;
                margin-right: 20px;
                font-size: 24px;
                cursor: pointer; }
        .nav-menu {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 70px;
            right: 0;
            left: 0;
            height: fit-content;
            width: 100%;
            padding: 10px;
            font-family: 'Onest', sans-serif;
            background-color: #f0f0f0;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }
            .nav-menu.active {
                display: flex; }
            .nav-menu li { margin-bottom: 14px; }
            .nav-menu li a {
                color: #111;
                font-size: 18px; }
                .nav-menu li a:hover { color: #111; }
        .navlinks {
            display: flex;
            flex-direction: column;
            width: 80%; }
            .nav-link { 
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                margin-bottom: 10px; }
                #partner-link { 
                    background-color: transparent;
                    color: #6f72f8;
                    border-color: #6f72f8; }
                    #partner-link:hover {
                        color: #4447ff;
                        background-color: transparent;
                        border-color: #4447ff; }
                #get-started-link { 
                    background-color: #6f72f8;
                    color: #f0f0f0;
                    border-color: #6f72f8;
                    margin-bottom: 20px; }
                    #get-started-link:hover {
                        color: #f0f0f0;
                        background-color: #4447ff;
                        border-color: #4447ff; }
}
   
.hero {
    background-image: url('../images/Hero-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #b4b5f8;
    height: 100svh;
    padding: 50px 20px;
    margin-top: 5%;
    margin-bottom: 0; }
    .hero-content {
        margin: 0 auto;
        padding: 0 20px; }
        .hero-text {
            margin-right: 120px;
            max-width: 50%; }
            .hero-text h3 {
                font-size: 35px;
                color: #f0f0f0;
                margin-bottom: 10px; }
            .hero-text p {
                font-size: 18px;
                color: #f0f0f0;
                margin-bottom: 50px; }
                .hero-text p span { 
                    font-size: 18px;
                    font-weight: bold; }
            .hero-text a {
                background-color: #26598f;
                color: #f0f0f0;
                text-decoration: none;
                font-weight: bold;
                width: fit-content;
                height: 200px;
                padding: 10px 10px;
                border: 2px solid #26598f;
                border-radius: 5px; }  
                .hero-text a:hover {
                    background-color: #486e97;
                    border: 2px solid #486e97;
}
@media screen and (max-width: 768px) {
    .hero {
        padding: 10px;
        padding-bottom: 50px;
        height: fit-content;
        margin-top: 60px; }
        .hero-content { 
            padding: 0px 10px; }
        .hero-text {
            margin-right: 0;
            max-width: 100%; }
            .hero-text h3 { font-size: 24px; }
            .hero-text p { font-size: 18px; }
            .hero-text a { 
                font-size: 14px; }
}

.appointments {
    background-color: #e2e3e4;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .appointments-content { 
        padding-top: 20px;
        padding-bottom: 20px; }
        .appointments-content img {
            position: absolute;
            top: 200px;
            left: 12%;
            width: 420px;
            height: 420px;
            border-radius: 5px;
            z-index: 2; }
        .appointments-content .appointments-text {
            position: relative;
            max-width: 900px;
            height: 700px;
            border-radius: 2px;
            padding: 100px 200px 0 150px;
            margin-left: 500px;
            color: #f0f0f0;
            background-color: rgb(25, 169, 178, 0.5); }
            .appointments-content .appointments-text h5 {
                font-weight: bolder;
                font-size: 22px; }
            .appointments-content .appointments-text p {
                font-weight: bold;
                font-size: 16px;}
            .appointments-content .appointments-text ul li {
                font-weight: bold;
                font-size: 18px; }
            .appointments-content .appointments-text a {
                background-color: #235D9C;
                color: #f0f0f0;
                font-weight: bold;
                padding: 10px;
                border: 2px solid #235D9C;
                border-radius: 5px;
                text-decoration: none; }
                .appointments-content .appointments-text a:hover { 
                    background-color: #4572a2;
                    border: 2px solid #4572a2;
}
@media screen and (max-width: 768px) {
    .appointments {
        position: relative;
        display: flex;
        flex-direction: column; }
        .appointments-content { padding-top: 0; }
            .appointments-content img {
                display: none; }
            .appointments-content .appointments-text { 
                margin-left: 0;
                width: 100%;
                height: fit-content;
                padding: 20px 5px 40px 10px; }
                .appointments-content .appointments-text h5 {
                font-size: 26px; }
                .appointments-content .appointments-text p { font-size: 16px;}
}

.services {
    background: linear-gradient(to bottom, #e2e3e4 2%, #D8DADC 5%, #CBD3D7 9%, #C2CCD4 14%, #C9CED1 100%);
    padding: 20px 50px 20px 150px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .services h3 {
        font-size: 40px;
        margin-bottom: 50px; }
    .services .services-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        max-width: 80%; }
        .services .services-content img {
            margin-right: 50px;
            width: 305px; } 
        .services .services-content .services-text {
            margin-left: 10px; }
            .services .services-content .services-text h4 { 
                font-size: 25px; }
            .services .services-content .services-text p {
                max-width: 80%;
                font-size: 18px; }
    .services i { 
        font-size: 50px;
        margin-bottom: 50px;
        color: #2B1D14; }
    .services a { 
        background-color: #644940;
        color: #f0f0f0;
        font-weight: bold;
        padding: 10px;
        border: 2px solid #644940;
        border-radius: 5px;
        text-decoration: none; }
        .services a:hover { 
            background-color: #64544e;
            border: 2px solid #64544e; 
}
@media screen and (max-width: 768px) {
    .services {
        background: linear-gradient(to bottom, #e2e3e4 1%, #D8DADC 2%, #CBD3D7 4%, #C2CCD4 7%, #C9CED1 100%);
        padding: 20px; }
        .services h3 { font-size: 30px; }
        .services .services-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; }
            .services .services-content img {
                margin: 0; 
                width: 100%;}
            .services .services-content .services-text {
                margin: 0; }
                .services .services-content .services-text h4 { 
                    font-size: 22px;
                    text-align: center; }
                .services .services-content .services-text p { 
                    text-align: center;
                    max-width: 100%; }
                .services .services-content .services-text a { text-align: center; }
}

.meetDoctors { 
    background-color: #829EC5;
    padding: 0 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0; }
    .meetDoctors-content { 
        background-color: #9eafc0;
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .meetDoctors-content::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 8px; 
            background: linear-gradient(to right, #205490, #5EAACC, #2DC6CE, #18487e); /* Define your gradient colors */
            z-index: 1; }
        .meetDoctors-content h3 { 
            font-size: 30px; }
        .meetDoctors-content p { 
            font-weight: bold;
            font-size: 14px; }
        .meetDoctors-content .link { 
            font-size: 14px;
            text-decoration: none;
            font-weight: bold;
            margin-bottom: 20px;
            color: rgb(190, 116, 12); }
            .meetDoctors-content .link:hover { 
                text-decoration: underline; }
        .meetDoctors-content .images img {
            height: 150px; }
    .testimonials { 
        background-color: #829EC5;
        font-family: 'Nunito Sans', sans-serif;
        position: relative;
        height: 600px; }
        .testimonial { 
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 0; }
        .testimonial.active { 
            display: block; }
            .testimonial .iv_comma {
                color: #b1d1f0; 
                font-size: 200px;
                margin: 40px; }
            .testimonial .text {
                display: flex;
                flex-direction: column; }
                .testimonial .text p {
                    margin-bottom: 15px;
                    text-align: center;
                    color: #f0f0f0; 
                    font-size: 30px; }
                    .testimonial .text .testimonial-info { 
                        display: flex;
                        flex-direction: row; }
                        .testimonial .text .testimonial-info img { 
                            width: 70px; 
                            height: 70px;
                            border: 2.5px solid #b1d1f0;
                            margin-right: 10px;
                            border-radius: 50px; }
                        .testimonial .text .testimonial-info .name { 
                            color: #dde4ec;
                            font-size: 18px;
                            text-transform: uppercase;
                            font-family: "Quicksand", Arial, sans-serif; }
    .mD-lastSection { 
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center; }
    .indicators {
        display: flex;
        justify-content: center; }
        .indicator {
            width: 10px;
            height: 10px;
            background-color: transparent;
            border: 2px solid #b1d1f0;
            border-radius: 50%;
            margin: 30px 5px;
            cursor: pointer; }
            .indicator:hover { 
                border-color: white; }
        .indicator.active {
            background-color: #b1d1f0; }
            .indicator.active:hover { 
                border-color: #b1d1f0; }                
    .review {
        border: 2px solid #f0f0f0;
        border-radius: 40px;
        padding: 10px 20px 10px 20px;
        text-decoration: none; 
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        color: #f0f0f0;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 18px; }
        .review:hover { 
            color: #8ebff3;
            border-color: #8ebff3; 
}
@media screen and (max-width: 768px) {
    .meetDoctors {
        padding:  0 20px; }
        .meetDoctors-content { 
            height: fit-content;
            padding: 20px;
            padding-bottom: 0; }
            .meetDoctors-content::before {
                height: 8px; }
            .meetDoctors-content h3 {
                text-align: center;
                font-size: 26px; }
            .meetDoctors-content p { text-align: center; }
            .meetDoctors-content .images img {
                height: 60px; }
        .testimonials {
            height: fit-content;
            padding-bottom: 40px;
            width: 100%; }
            .testimonial { 
                width: 100%;
                display: none;
                justify-content: center;
                align-items: flex-start;
                margin: 0;
                padding: 0; }
                .testimonial.active { display: flex; }
                .testimonial .iv_comma { 
                    margin: 0 1px 0 1px;
                    font-size: 54px; }
                .testimonial .text { 
                    padding: 0; }
                 .testimonial .text p { 
                    font-size: 14px; }
                    .testimonial .text .testimonial-info { 
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0; }
                        .testimonial .text .testimonial-info img {
                            width: 60px;
                            height: 60px; }
                        .testimonial .text .testimonial-info .name { 
                            font-size: 16px; }
        .indicator { 
            width: 6px;
            height: 6px; }
}

.faqs {
    margin-top: 0;
    background-color: #f6fcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    h3 { 
        font-size: 40px; }
    .faq {   
        width: 60%;
        margin: 0 auto 20px auto; }
        .question {
            background-color: transparent;
            border-bottom: 1px solid #205490;
            color: #282828;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            cursor: pointer; }
            .question:nth-child(1) { border-top: 1px solid #205490; }
            .question:nth-child(1).active { border-top: 1px solid #205490;}
            .question.active { 
                border: 1px solid #205490;
                border-top: 0px;
                display: flex;
                justify-content: space-between;
                align-items: center; }
                .question.active:hover i { background-color: transparent; }
            .question:hover i { 
                border-radius: 50%;
                color: #111;
                background-color: #eae8e8; }
            .question h2 {
                font-weight: 500; 
                font-size: 18px; }
            .question i { 
                color: #333333;
                padding: 10px;
                transition: color 0.3s; }
        .answer {
            display: none;
            background-color: #f6fcfc;
            padding: 10px;
            color: #333;
            font-size: 16px;
            border: none;
            margin-bottom: 10px; }
            .active {
                display: block; }
    #faq-link { 
        color: #0991ba;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px; }
        #faq-link:hover { color: #063f52; }
    #faq-link-two { 
        color: #063f52;
        background-color: #91cbdc;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        width: 120px;
        padding: 10px 20px;
        border-radius: 5px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center; }
        #faq-link-two:hover { 
            background-color: #5fc4e3; }
@media screen and (max-width: 768px) {
    .faqs { 
        padding: 14px;
        margin: 0; }
        h3 { font-size: 24px; }
        .faq { width: 100%; }
            .question h2 { font-size: 14px; }
}

.footer {
    margin-top: 0;
    padding: 60px 40px 40px 40px;
    background-color: #0f4876;
    color: #fff;
    font-family: 'Onest', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .first-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #d4f4ff; }
        .first-footer h4 {
            color: #a8b4bd;
            text-transform: uppercase; 
            font-size: 16px; }
        .first-footer p { 
            text-align: center;
            font-size: 28px; }
        .first-footer a { 
            color: #ffffff;
            text-decoration: none;
            background-color: #0991ba;
            font-size: 12px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px 30px;
            border-radius: 5px;
            margin-bottom: 40px; }
            .first-footer a:hover { background-color: #4da8c4; }
    .second-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 40px 0 60px 0;
        border-bottom: 1px solid #d4f4ff;
        margin-bottom: 20px; }
        .footer-links { 
            font-size: 12px;
            line-height: 2; }
            .footer-links .logo {
                color: #ffff00; 
                font-size: 30px; }
            .footer-links th, .footer-links td { padding-right: 60px; }
            .footer-links th {
                font-size: 14px; 
                text-align: left; }
            .footer-links td { 
                cursor: pointer;
                transition: transform 1s ease-in-out; }
                .footer-links td:hover { text-align: center; }
        .newsletter { 
            margin: 0; }
            label { font-size: 16px; }
            .subscribe {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                padding: 6px 6px 6px 10px;
                border-radius: 8px;
                height: 40px; }
                .subscribe #email {
                    border: none;
                    font-size: 12px; 
                    height: 30px;
                    border-radius: 5px; }
                    .subscribe #email:focus { 
                        outline: none; }
                .subscribe #submit {
                    height: 40px; 
                    border-radius: 5px;
                    border: none;
                    font-size: 12px;
                    color: #ffffff;
                    width: 80px;
                    background-color: #021c3a; }
                    .subscribe #submit:hover { background-color: #0b4281; }
            p { font-size: 12px; }
            p span { 
                font-size: 14px;
                font-weight: 550;}
    .third-footer { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%; }              
        .copyright { font-size: 12px; }
        .socials {
            width: 10%;
            display: flex;
            justify-content: space-between;
            align-items: center; }
            .socials i { font-size: 26px; 
}
@media screen and (max-width: 768px) {
    .footer { padding: 10px; }
        .first-footer h4 { font-size: 14px; }
        .first-footer p { font-size: 24px; }
        .second-footer {
            display: flex;
            flex-direction: column;
            padding: 10px 5px 20px 5px; }
            .footer-links { 
                font-size: 14px;
                width: 100%;
                margin-bottom: 26px;
                line-height: 1.5; }
                .footer-links .logo { font-size: 28px; }
                .footer-links table { 
                    display: flex;
                    flex-direction: column;
                    width: 100%; }
                    .footer-links table tr {
                        white-space: nowrap;
                        width: 100px; }
                    .footer-links table th {
                        font-size: 16px;
                        width: 50%;
                        text-align: left; }
                    .footer-links table td {
                        width: 50%;
                        text-align: left; }
            .newsletter { width: 100%; }
                label { font-size: 14px; }
                    #email { width: 80%; }
                    #submit { width: 20%; }
        .third-footer { 
            display: flex;
            flex-direction: column; }
            .copyright { 
                font-size: 16px;
                margin-bottom: 20px; }
                .socials {
                    width: 30%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center; }
                    .socials i { font-size: 22px }
}